# Built-in data structures

Python includes several built-in types for sequences: lists, dictionaries, sets, and tuples.

## Lists

A *list* is the Python equivalent of a mutable array, but is **resizeable** and can contain objects of **different types**.

In [1]:
x = [1, 2.0, 'a', 'b', 'cd']
x

[1, 2.0, 'a', 'b', 'cd']

In [2]:
len(x)

5

In [3]:
type(x)

list

In [4]:
type(x[1])

float

List elements can be any objects, for example lists.

In [5]:
x = [1, ['a', 'b', 'c'], 3.14]
x[1]

['a', 'b', 'c']

Similarly to strings, list elements are accessed (in constant time) via the indexing operator `[ ]` with index values from 0 to len(s)-1

In [6]:
x[0]

1

In [7]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Negative indexing works as well. `s[-1]` is the last element, `s[-2]` is the next to last element, and so on.

|0 |1 |2 |3 |4 |5 |
|--|--|--|--|--|--|
|-6|-5|-4|-3|-2|-1|

In [8]:
print(x[-1], x[-2], sep='  ')

3.14  ['a', 'b', 'c']

The method `count(a)` counts the number of occurrences of the object `a` in the list

In [9]:
x = [1, 2, 2, 2, 3, 4, 4]
x.count(2)

3

The method `insert(i, a)` inserts object `a` in position `i`. The method `append(a)` inserts object `a` in the last position.

Therefore, `x.append(a)` is equivalent to `x.insert(len(x),a)`

Note that `insert` runs in **linear time** whereas `append` runs in **constant time**.

In [10]:
x.insert(0, 'pippo')
x

['pippo', 1, 2, 2, 2, 3, 4, 4]

In [11]:
x.append('pluto')
x

['pippo', 1, 2, 2, 2, 3, 4, 4, 'pluto']

The method `pop(i)` deletes the object in position `i`. The method `remove(a)` deletes the first occurence of object `a`.

In [12]:
x.pop(0)
x

[1, 2, 2, 2, 3, 4, 4, 'pluto']

In [13]:
x.remove(2)
x

[1, 2, 2, 3, 4, 4, 'pluto']

In [14]:
5 in x

False

List elements can be also deleted using the **keyword** `del`, as in `del x[1]`.

The method `x.extend(y)` appends the elements of the list `y` at the end of the list `x`.

In [15]:
x = [] # the empty list
y = [1, 2, 3]
x.extend(y)
x

[1, 2, 3]

Summing two lists `x + y` produces a **new list** which is the concatenation of `x` and `y`.

In [16]:
x = [1, 2]
y = ['pippo', 'pluto']
x + y

[1, 2, 'pippo', 'pluto']

Note that `x += y` (equivalent to `x = x + y`) produces the same effect as `x.extend(y)` but in a less efficient way.

In [17]:
x += y
x

[1, 2, 'pippo', 'pluto']

A list can be *unpacked* via a multiple assignment using the **same number** of variables as the list elements.

In [18]:
a, b, c, d = x
print(a, b, c, d, sep='  ')

1  2  pippo  pluto

If we only want to unpack some elements at the beginning and discard the others, we can use the syntax `*y` to assign the remaining list elements to the variable `y`.

In [19]:
x = [1, 2, 'pippo', 'pluto']
a, b, *y = x
y

['pippo', 'pluto']

# Tuples

Tuples are the fixed-length, **immutable** versions of lists. Although it is immutable, a tuple can contain objects of different (possibly mutable) types.

In [20]:
t = (1, 2.3, 'a')
t

(1, 2.3, 'a')

In [21]:
type(t)

tuple

Strings behave much like tuples whose elements are single-character strings.

Lists can be cast into tuples and vice versa via the **type constructors** `tuple()` and `list()`.

In [22]:
t = tuple([1, 2, 3])
type(t)

tuple

In [23]:
x = list((1, 2, 3))
type(x)

list

**Note:** The literal `()` denotes the empty tuple, while `(1,)` denotes a singleton tuple.

In [24]:
t = (1,)
type(t)

tuple

# Identity between objects

Every object has an **identity**, a **type** and a **value**.
- An object’s identity never changes once it has been created; you may think of it as the object’s address in memory
- The object's value are the data contained in the object
- The `id()` built-in function returns an integer representing its identity
- The `is` operator compares the *identity* of two objects
- The `==` comparison operator compares the *values* of two objects

In [25]:
x = [1, 2, 'pippo']
id(x)

139718867123848

In [26]:
y = x
y is x

True

`x` and `y` refer to the same object.

In [27]:
id(x) == id(y)

True

In [28]:
z = [1, 2]
z.append('pippo')
print(z, z == x, z is x, sep='  ')

[1, 2, 'pippo']  True  False

`z` is an object different from `x` but with the same value as the value of `x`

# Slicing

The slice operator `[start:stop]` selects a section of a list/tuple/string. `start` is included, `stop` is not. The number of elements in the result is therefore `stop - start`.

<img src="Img/string-slicing.png" width="400" height="100" />

Image source: http://www.nltk.org/images/string-slicing.png

In [29]:
s = 'Monty Python'
s[6:10] # from s[6] to s[9] included

'Pyth'

In [30]:
s[:5] # from the beginning to s[4] included

'Monty'

In [31]:
s[6:] # from s[6] to the end

'Python'

In [32]:
s[:5] + s[5:] # the entire string (5 can be replaced by any position in the string)

'Monty Python'

In [33]:
s[-12:-7] # negative indices slice relative to the end

'Monty'

Slice can also take a step `[start:stop:step]`.

In [34]:
s[::2] # every other element of the sequence

'MnyPto'

In [35]:
s[::-1] # a negative step reverses the sequence

'nohtyP ytnoM'

If the sequence is mutable, like a list, we can use slicing to modify sections of it.

In [36]:
x = [1, 2, 3, 4, 5]
x[2:] = ['a', 'b', 'c']
x

[1, 2, 'a', 'b', 'c']

The operator `[:]` makes a **copy** of the entire sequence.

In [37]:
x = [1, 2, 3, 4, 5]
y = x[:]
y

[1, 2, 3, 4, 5]

In [38]:
print(x == y, x is y, sep='  ')

True  False

The built-in function `zip` pairs up elements from two sequences (lists or tuples) returning an object of `zip` type.

In [39]:
x = ('Alice', 'Bob', 'Carl')
y = (35, 22, 40)
z = zip(x,y)
type(z)

zip

Using the type constructor `list()`, we can translate the `zip` object into a `list` object.

In [40]:
w = list(z)
w

[('Alice', 35), ('Bob', 22), ('Carl', 40)]

To unzip a zipped object we first transform it into a list, and then apply `zip()` to the `list` object prefixed by `*`. This returns two tuples containing the original list elements.

In [41]:
a, b = zip(*w)
print(a, b, sep='  ')

('Alice', 'Bob', 'Carl')  (35, 22, 40)

If we zip two sequences of different length, the trailing elements of the longest sequence are not zipped.

In [42]:
r = ['Alice', 'Bob']
s = [1, 2, 3]
z =zip(r,s)
list(z)

[('Alice', 1), ('Bob', 2)]